@use 'variables' as *;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    min-height: 100vh;
}

body {
    min-height: 100vh;
    background-color: $very-light-gray-light-mode-background;
    color: $very-dark-blue-light-mode-text;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $very-dark-blue-light-mode-text;
}
.container {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
        'header header'
        'main main'
        'footer footer';
    grid-template-rows: 70px 1fr 70px;
}

.main {
    grid-area: main;
    height: 100%;
}

.generic-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem 2.6rem;
    outline: none;
    border: $light-border;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: transform 300ms ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: $shadow;
    }
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));

    &__circle {
        width: 8rem;
        height: 8rem;
        border-top: 5px solid $very-dark-blue-dark-mode-background;
        border-radius: 50%;
        animation: spinner 1.4s infinite linear;
    }

    h2 {
        margin-top: 2rem;
        font-size: 1.9rem;
        color: $white-dark-mode-text;
        letter-spacing: 2px;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
