@use '../variables' as *;

.filter-box {
    position: relative;
    background-color: $white-light-mode-elements;

    &__label {
        display: flex;
        justify-content: space-between;
        width: 19rem;
        border: $light-border;
        border-radius: 5px;
        padding: 1.5rem 1rem;
        cursor: pointer;

        p {
            font-weight: 600;
        }

        .down-icon {
            height: 2rem;
        }
    }

    &__region-items {
        display: none;
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;

        background-color: $white-light-mode-elements;
        list-style: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .region-item {
            padding: 1rem;
            font-weight: 600;
            text-decoration: none;
            text-transform: capitalize;
            color: $very-dark-blue-light-mode-text;
            cursor: pointer;

            &:hover {
                background-color: #f1f1f173;
            }
        }
    }

    .show-region {
        display: block;
        z-index: 100;
    }
}
