@use '../variables' as *;

.search-box {
    max-width: 400px;
    width: 95%;

    display: flex;
    align-items: center;
    border: $light-border;
    border-radius: 5px;
    overflow: hidden;

    .search-icon {
        height: 2.5rem;
        width: 1.8rem;
        margin-left: 1rem;
        color: $dark-gray-light-mode-input;
    }

    .input {
        padding: 1.5rem 1rem;
        flex: 1;
        background-color: transparent;
        color: $dark-gray-light-mode-input;
        outline: none;
        border: none;
    }
}

.color {
    color: $white-dark-mode-text;
}
